@{
    ViewData["Title"] = "Select Paquete";
}
<h4>@ViewBag.ComentarioError</h4>
<form action='@Url.Action("GuardarPaquete")'>
    <select name="destino">
        <option value='0'>Seleccione una opción</option>
    @for(int i=0;i<ViewBag.Destinos.Count;i++){
            <option value=@(i+1)>@ViewBag.Destinos[i]</option>
    }</select><br><br>
    <h3>Hoteles:</h3>
    @foreach(string hotel in ViewBag.Hoteles){
        <label><input type="radio" name="hotel" value="@hotel"><img src="~/img/hoteles/@hotel" width=200px height=auto></label>
    }<br><br>
    <h3>Aerolineas:</h3>
    @foreach(string aereo in ViewBag.Aerolineas){
        <label><input type="radio" name="aereo" value="@aereo"><img src="~/img/aerolineas/@aereo" width=200px height=auto></label>
    }<br><br>
    <h3>Excursiones:</h3>
    @foreach(string excursion in ViewBag.Excursiones){
        <label><input type="radio" name="excursion" value="@excursion"><img src="~/img/excursiones/@excursion" width=200px height=auto></label>
    }<br><br>
    <input type="submit" value="Crear Paquete">
</form>