@{
    ViewData["Title"] = "Select Paquete";
}
<form action='@Url.Action("GuardarPaquete")'>
    <select name="destino">
    @foreach(string destino in ViewBag.Destinos){
            <option>@destino</option>
    }</select><br><br>
    <h2>Hoteles:</h2>
    @foreach(string hotel in ViewBag.Hoteles){
        <label><input type="radio" name="hotel" value="@hotel" checked><img src="~/img/hoteles/@hotel" width=200px height=auto></label>
    }<br><br>
    <h2>Aerolineas:</h2>
    @foreach(string aereo in ViewBag.Aerolineas){
        <input type="radio" name="aereo" value="@aereo" checked><img src="~/img/aerolineas/@aereo" width=200px height=auto>
    }<br><br>
    <h2>Excursiones:</h2>
    @foreach(string excursion in ViewBag.Excursiones){
        <input type="radio" name="excursion" value="@excursion" checked><img src="~/img/excursiones/@excursion" width=200px height=auto>
    }<br><br>
    <input type="submit" value="Crear Paquete">
</form>